@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --color-primary-01: #3c8067;
    --color-primary-02: #1b4133;

    --color-neutral-01: #1c232b;
    --color-neutral-02: #6c7289;
    --color-neutral-03: #f2ebe3;
    --color-neutral-04: #ffffff;

    --font-primary-01: 'Montserrat', sans-serif;
    --font-primary-02: 'Fraunces', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary-01), Arial, Helvetica;
}

html {
    scroll-behavior: smooth;
    
}

body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    background-color: var(--color-neutral-03);
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 95%;
    border-radius: 8px;
    background-color: var(--color-neutral-04);
}

.card-img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    padding: 25px;
}

.product-category {
    font-size: 0.72em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: var(--color-neutral-02);
}

.product-name {
    font-family: var(--font-primary-02);
    font-size: 1.656em;
    font-weight: 700;
    color: var(--color-neutral-01);
}

.product-description {
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    letter-spacing: -2%;
    color: var(--color-neutral-02);
    line-height: 1.4em;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-new-price {
    font-family: var(--font-primary-02);
    font-weight: 800;
    font-size: 1.5em;
    color: var(--color-primary-01);
}

.product-old-price {
    font-size: 0.75em;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--color-neutral-02);
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--color-primary-01);
    color: var(--color-neutral-04);
    transition: all 0.4s ease-in-out;
}

.cart-button:hover {
    background-color: var(--color-primary-02);
    cursor: pointer;
}

@media (min-width: 1280px) {
    
    .card {
        flex-direction: row;
        max-width: 50%;
        max-height: 70%;
        border-radius: 10px;
    }

    .card picture {
        width: 50%;
    }

    .card-img {
        height: 100%;
        width: 100%;
        border-radius: 10px 0 0 10px;
    }

    .card-description {
        gap: 40px;
        width: 50%;
        padding: 40px;
    }

    .product-category {
        font-size: 0.9em;
    }

    .product-name {
        font-size: 3em;
        width: 80%;
        line-height: 1em;
    }

    .product-description {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .product-price {
        gap: 30px;
    }

    .product-new-price {
        font-size: 3em;
    }

    .product-old-price {
        font-size: 1.1em;
        font-weight: 500;
    }

    .cart-button {
        height: 60px;
        font-size: 1.2em;
    }

}